@mixin button{
  border: solid 1.5px #FFF;
  border-radius: 24px;
  padding: 12px;
  color: #FFF;
  font-weight: 200;
  font-size: 1.1em;
}

@mixin footer-link{
  font-size: 1.25em;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px #888;
  padding: 0.5em 0.6em;
  color: #FFF;
  margin-left: 25px;
  margin-bottom: 1em;
}
