.navbar {
  overflow: hidden;
  background-color: #455abd;

  &-logo {
    color: #FFF;
    float: left;
    margin-bottom: 2px;
    font-size: 1.8em;
  }

  &-button {
    float: right;
    border: solid 1.5px #FFF;
    border-radius: 24px;
    padding: 12px;
    color: #FFF;
    font-weight: 200;
    font-size: 1.1em;
  }
}
