.hero {

  &-hi-text {
    font-weight: 900;
    font-size: 1.5em;
  }

  &-text {
    color: $main-blue-color;
    text-align: center;

    h1 {
      font-size: 4em;
      text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);
      margin-bottom: 1em;
    }

    h2{
      font-weight: 300;
      color: #000;
      margin: 2.4em 0 2.4em 0;
      // margin-bottom:
    }
  }

  &-avatar{
    height: auto;
    width: 11em;
    border-radius: 50%;
    display: block;
    // border: solid 1px $main-blue-color;
  }

  &-icon{
    max-width: 512px;
  }
}
